body {
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif; 
  overflow: hidden; 
}

.header {
  padding: 10px; 
  background-color: #454545; 
  color: #de4040; 
  position: fixed; 
  top: 0; 
  right: 0; 
  left: 0; 
  z-index: 100; 
}

.header h1 {
  font-size: 25px; 
  padding: 0; 
  margin: 0; 
  text-align: center; 
}

.map {
  width: 100vw; 
  height: 100vh; 
  position: relative; 
}

.loading_spinner {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  min-height: 100vh; 
  margin-top: -70px; 
}

.loading_spinner img {
  width: 400px; 
}

.loading_spinner h1 {
  margin-top: -70px; 
}

.earthquake-icon {
  font-size: 2rem; 
  color: #121212
}

.flood-icon {
  font-size: 2rem; 
  color: #0053cf; 
}

.storm-icon {
  font-size: 2rem; 
  color: #ffea00; 
}

.seaLakeIce-icon {
  font-size: 2rem; 
  /* color: #ccfbff;  */
}

.volcano-icon {
  font-size: 2rem; 
  color: #ff1900; 
}

.wildfire-icon {
  font-size: 2rem; 
  color: #f76014; 
}

.location-info {
  position: absolute; 
  top: 80px; 
  right: 50px; 
  width: 400px; 
  min-height: 200px; 
  padding: 20px; 
  background-color: rgba(0, 0, 0, 0.6); 
  border-radius: 10px; 
  font-size: 18px; 
  color: #ffffff; 
}

.closeButton {
  position: absolute; 
  top: 30px; 
  right: 30px; 
}

.location-info ul {
  list-style-type: none; 
  padding: 0; 
}

.location-info li {
  padding: 5px 0; 
}